$color-primary: #f96816;
$color-secondary: #f28500;

$color-white: #fff;

$color-dark-1: #000;
$color-dark-2: #222;
$color-dark-3: #333;

$color-blue: #5887ef;

$color-danger: #721c24;
$color-success: #155724;

$color-grey-1: #cfcfd1;
$color-grey-2: #7f7f7f;
$color-grey-3: #f8d7da;
$color-grey-4: #d4edda;
$color-grey-5: #f6f5f7;
$color-grey-6: #7a797e;
$color-grey-7: #efefef;
$color-grey-8: #f0f2f5;

$grey-eee: #eeeeee;
$grey-ccc: #cccccc;
$grey-ddd: #dddddd;
$grey-aaa: #aaaaaa;
$grey-special: #eae6eb;

$transition: all 250ms linear 0s;
