.signup-container {
	@extend .front-container;
}

//header
.header {
	display: block;
	text-align: center;
	margin: 15px 0 33px 0;
	font-weight: normal;
	font-size: 26px;

	&.set-password {
		margin-bottom: 20px;
	}
}

.signup-control {
	@extend .form-control;

	label {
		display: block;
		margin-bottom: 8px;
		letter-spacing: 0.25px;
		font-size: 16px;
		color: $color-dark-1;
		// font-weight: bold;
	}

	.signup-input {
		@extend .form-input;
		border-width: 1px;
		height: 48px;
	}

	.eye-icon {
		top: 68%;
	}
}

.signup-btn {
	@extend .front-btn;
	margin-top: 20px;
}
